<div class="header_xs_dark_blue_skinny" style="margin-bottom: 10px">
  Earnings
</div>
<div class="full_width_white_box_container clearfix" style="text-align: center">
  <div class="earnings"><%= @user.display_earnings %></div>
</div>
