<div class="header_xs_dark_blue_skinny" style="margin-bottom: 10px">
  Employees
  <div class="revenue">
    Revenue
  </div>
</div>
<% if !has_employees? %>
  <div class="full_width_white_box_container clearfix" style="text-align: center">
    <div class="empty">No employees, yet.</div>
  </div>
<% else %>
  <div class="full_width_white_box_container clearfix">
    <% @employees.each do |employee| %>
      <div class="people clearfix"><%= link_to employee.name, user_employee_path(User.find(employee.manager_id), employee) %><div class="revenue"><%= employee.revenue %></div></div>
    <% end %>
  </div>
<% end %>
