<div class="header_md_light_gray_skinny manager-body" data-id="<%= @user.id %>">
  <%= 'Hi, ' if is_current_users_profile? %><%= @user.name %>
</div>
<div class="header_xs_dark_blue_skinny" id="manager_products_header" style="margin: 25px 0 10px 0" data-id="<%= @user.id %>">
  Products
</div>
