.form_full_btn {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background: #EBF0F2;
  color: #849398;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.form_full_btn:hover {
  cursor: pointer;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background: #e8eef0;
  color: #849398;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.facebook_full_btn {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background: #3B5998;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.facebook_full_btn:hover {
  cursor: pointer;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background: #344e86;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  border: 0;
  outline: 0;
  text-decoration: none;
}

#facebook_btn {
  text-decoration: none
}
